header {
    background-color: #272727;
    margin-bottom: 50px;
}

body {
    background: #111111;
    color: #B7B4B2;
}

h5 { 
    color: #bc9982;
}

h2 {
    text-align: center;
    margin: 20px 0;
    color: #bc9982;
}

.pagination-page-info {
    color: #ea3232cf;
    text-align: center;
    font-size: x-large;
    margin: 50px 0;
}

.pagination-page-info b {
    color: whitesmoke;
}

.page-item.active .page-link {
    background-color: #ea3232cf;
    border-color: #dee2e6;
}

.page-link {
    color: #ea3232cf;
    background-color: #fff
}



/* RECIPES HOME PAGE */

.card-image-holder {
    width: 85%;
    height: 20vw;
    align-self: center;
    border: 2px solid #bc9982;
}

@media screen and (max-width: 768px) {
.card-image-holder {
    width: 90%;
    height: 300px;
  }
}


.card-body p , a {
    color: #B7B4B2;
    text-align: center;
}

.card-body h5 {
    color: #bc9982;
    text-align: center;
}


.card {
    background-color: #111111;
    border-color: 
}

hr {
    border: 0;
    width: 75px;
    height: 2px;
    background-color: #bf5d1d;
    margin-top: 0;
}

#btn-card {
    color: #B7B4B2;
    border-color: #bc9982;
}

.opacity {
    background-color: rgba(0,0,0,0.25);
}

.recipe-card-col {
    margin: 20px 0;
}

/* RECIPE SELECTED */ 

.recipe_selected_img {
    width: 100%;
    margin-bottom: 20px;
}

.align-row {
    text-align: center;
}

/*
@media screen and (max-width: 992px) {
.recipe_selected_img {
    margin-top: 125px;
  }
}
*/

.recipe-selected {
    display: flex;
}

/* ADD RECIPE PAGE */

.hr-header {
    border: 0;
    width: 124px;
    height: 2px;
    background-color: #bf5d1d;
    margin-top: 0;
}


.form-group textarea, select, input, label {
    color: #B7B4B2;;
    
}

.form-control {
    background-color: black;
    border-color: #bc9982;
}

.form-control ::placeholder {
    color: whitesmoke;
}

.







