header {
    background-color: #272727;
    margin-bottom: 50px;
}

/* RECIPES HOME PAGE */

.card-image-holder {
    width: 100%;
    height: 20vw;
}

/* RECIPE SELECTED */ 

.recipe_selected_img {
    width: 100%;
}