{% extends 'base.html' %}
{% block content %}     
<div class="container about_container">
    <div class="row">
        <div class="col-6 offset-3">
            <img src="static/images/about.jpg" alt="image of recipe" class="recipe_selected_img">
        </div>
    </div>
    <h2> About The Fitness Kitchen </h2>
    <div class="row">
        <div class="col-12">
            <p>
                The idea of a recipe website isn't something new, but this website is moving the goal post's, by making 
                The Fitness Kitchen, a one stop shop for all your healthy recipes. 
                Everyone has endless access to different recipe's, from influencers to tv chefs, 
                and from website's or social media page's to the old fashioned recipe book. 
                One problem people face, is they have to trawl through all these mediums to find the recipe they are looking for. 
                The Fitness Kitchen is the solution.
            </p>
            <p>
                The Fitness Kitchen will be uploading their own new recipe's each week, to keep up variety and make your choice for eating healthier that much easier with a lot of tasty options.
            </p>
            <p>
                Embrace the cooking aspect as much as possible and experiment with different techniques. You'll be surprised how good a cook you actually can be. Eating healthy doesn't have to be boring, you can experiment with everyday spices to create exciting meals.
            </p>
            <p> 
                Apart from just The Fitness Kitchen Uploading recipes, registered users can create their own recipes. This is the main goal of The Fitness Kitchen, to be the number one online recipe sharing community. 
            </p>
            
        </div>
    </div>
</div>
{% endblock %}