{% extends 'base.html' %} {% block add_recipes %}
<div class="container">

 <hr class="hr-header">
 <h2>Add Recipe</h2>
<hr class="hr-header">

   <form action="{{ url_for('insert_recipe') }}" method="POST">
      <div class="form-row">
         <div class="form-group col-md-2">
            <label for="prep_time">Prep Time</label>
            <input type="text" class="form-control" id="prep_time" name="prep_time"/>
         </div>
         <div class="form-group col-md-2">
            <label for="cook_time">Cooking Time</label>
            <input type="text" class="form-control" id="cook_time" name="cook_time"/>
         </div>
         <div class="form-group col-md-6 offset-md-2">
            <label for="recipe_name">Recipe Title</label>
            <input type="text" class="form-control" id="recipe_name" name="recipe_name"/>
         </div>
      </div>
      <div class="form-row">
         <div class="form-group col-md-1">
            <label for="calories">Calories</label>
            <input type="text" class="form-control" id="calories" name="calories" placeholder="eg. 10 kcals"/>
         </div>
         <div class="form-group col-md-1">
            <label for="protein">Protein</label>
            <input
               type="text"
               class="form-control"
               id="protein"
               name="protein"
               placeholder="eg. 10g"
               />
         </div>
         <div class="form-group col-md-1">
            <label for="carbs">Carbs</label>
            <input
               type="text"
               class="form-control"
               id="carbs"
               name="carbs"
               placeholder="eg. 10g"
               />
         </div>
         <div class="form-group col-md-1">
            <label for="fat">Fat</label>
            <input
               type="text"
               class="form-control"
               id="fat"
               name="fat"
               placeholder="eg. 10g"
               />
         </div>
         <div class="form-group col-md-6 offset-md-2">
            <label for="recipe_category">Meal Type</label>
            <select id="recipe_category" class="form-control" name="recipe_category">
               <option value="" selected>Choose...</option>
               {% for type in recipe_categories %}
               <option value="{{type.recipe_category}}">{{type.recipe_category}}</option>
               {% endfor%}
            </select>
         </div>
      </div>
      <div class="form-row">
         <div class="form-group col-md-2">
            <label for="servings">Number of Servings</label>
            <input type="text" class="form-control" id="servings" name="servings" />
         </div>
         <div class="form-group col-md-6 offset-md-4">
            <label for="description">Description</label>
            <textarea
               class="form-control"
               id="description"
               name="description"
               rows="5"
               maxlength="400"
               ></textarea>
         </div>
      </div>
      <div class="form-row">
         <div class="form-group col-md-6 offset-md-6">
            <label for="ingredients">Ingredients</label>
            <textarea
               class="form-control"
               id="ingredients"
               name="ingredients"
               rows="7"
               placeholder="put each ingredient on its own line"
               ></textarea>
         </div>
      </div>
      <div class="form-row">
         <div class="form-group col-md-6 offset-md-6">
            <label for="method">Method</label>
            <textarea
               class="form-control"
               id="method"
               name="method"
               rows="7"
               placeholder="put each step on its own line"
               ></textarea>
         </div>
      </div>
      <div class="form-row">
         <div class="form-group col-md-6 offset-md-6">
            <label for="image_link">Link to Image</label>
            <input
               type="text"
               class="form-control"
               id="image_link"
               name="image_link"
               />
         </div>
      </div>
    <div class="form-row">
        <div class="col-md-6 offset-md-6">
            <button type="submit" class="btn btn-primary">Submit Recipe</button>
        </div>
    </div>
   </form>
</div>
{% endblock %}