{% extends 'base.html' %} 
{% block register %}
<!-- REGISTRATION FIELD-->
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
        <!--POSTS INFO TO REGISTER FUNCTION IN RUN.PY-->
            <form method=POST action="{{ url_for('register') }}">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label for="fullname">Full Name</label>
                    <input type="text" class="form-control" id="fullname" aria-describedby="full_nameHelp" placeholder="Enter Full Name" name="fullname" required>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter Email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="InputPassword1">Password</label>
                    <input type="password" class="form-control" name="pass" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}